Node-RED/flows.json
[{"id":"547f8147.a94e7","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"72c4d248.f295bc","type":"tab","label":"DreamFram","disabled":false,"info":""},{"id":"5fdc4b2a.fc5554","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"Impact,Impact,Charcoal,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#e6e6e6","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#e6e6e6","edited":true},"page-titlebar-backgroundColor":{"value":"#1f7b1e","edited":true},"page-backgroundColor":{"value":"#f5f5db","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":true},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#000000","edited":true},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65ca588c.a4d698","type":"ui_tab","z":"","name":"Dream Farm_dash","icon":"dashboard","disabled":false,"hidden":false},{"id":"75cd1499.1433dc","type":"ui_group","z":"","name":"","tab":"","order":4,"disp":false,"width":"17","collapse":false},{"id":"79ba8f0.2eb627","type":"mqtt-broker","z":"","name":"","broker":"192.168.100.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eac82c88.4bb59","type":"mqtt-broker","z":"","name":"","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e68aaea0.373ea","type":"mqtt-broker","z":"","name":"","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"196bdc02.cffa24","type":"mqtt-broker","z":"","name":"","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d4742407.4dd018","type":"mqtt-broker","z":"","name":"","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7b03a60.3bf7d8","type":"mqtt-broker","z":"","name":"","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff2a98a3.ab51d8","type":"mqtt-broker","z":"","name":"ESP32","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88759016.9a1","type":"ui_group","z":"","name":"뉴스룸","tab":"","order":6,"disp":true,"width":"7","collapse":false},{"id":"9837525.48b59b","type":"ui_group","z":"","name":"","tab":"65ca588c.a4d698","order":5,"disp":false,"width":"17","collapse":false},{"id":"2e9a81b0.54a67e","type":"ui_group","z":"","name":"","tab":"65ca588c.a4d698","order":6,"disp":false,"width":"17","collapse":false},{"id":"b43481b2.4c97b","type":"ui_group","z":"","name":"","tab":"65ca588c.a4d698","order":7,"disp":false,"width":"17","collapse":false},{"id":"2d8e3dcb.0492e2","type":"ui_spacer","name":"spacer","group":"88759016.9a1","order":1,"width":1,"height":1},{"id":"b0e923b6.b97d6","type":"ui_group","z":"","name":"","tab":"65ca588c.a4d698","order":2,"disp":false,"width":"17","collapse":false},{"id":"5899b198.240ca","type":"ui_group","z":"","name":"","tab":"65ca588c.a4d698","order":3,"disp":false,"width":"17","collapse":false},{"id":"36158e36.2ac342","type":"ui_group","z":"","name":"","tab":"65ca588c.a4d698","order":1,"disp":false,"width":"34","collapse":false},{"id":"a60002af.7c2ba","type":"mqtt-broker","z":"","name":"ESP32-local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"76f5e944.ebb1e8","type":"ui_group","z":"","name":"조명","tab":"ec032107.9fc54","order":8,"disp":true,"width":"3","collapse":false},{"id":"19331b94.73fd14","type":"ui_group","z":"","name":"냉방","tab":"ec032107.9fc54","order":3,"disp":true,"width":"3","collapse":false},{"id":"ec032107.9fc54","type":"ui_tab","z":"","name":"DreamFarm","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"9cb21ca2.1354d","type":"ui_group","z":"","name":"환풍","tab":"ec032107.9fc54","order":5,"disp":true,"width":"3","collapse":false},{"id":"90b12843.1c8068","type":"ui_group","z":"","name":"스프링쿨러","tab":"ec032107.9fc54","order":7,"disp":true,"width":"3","collapse":false},{"id":"d067f5c3.f04ce8","type":"ui_group","z":"","name":"가습","tab":"ec032107.9fc54","order":6,"disp":true,"width":"3","collapse":false},{"id":"63115da1.4ab0b4","type":"ui_group","z":"","name":"난방","tab":"ec032107.9fc54","order":4,"disp":true,"width":"3","collapse":false},{"id":"ee7f4e7c.f606c","type":"ui_group","z":"","name":"제어 선택","tab":"ec032107.9fc54","order":1,"disp":true,"width":"6","collapse":false},{"id":"5bbde97f.e9b888","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"2baee155.8d8a6e","type":"mqtt in","z":"547f8147.a94e7","name":"온도","topic":"temperature","qos":"2","datatype":"auto","broker":"79ba8f0.2eb627","x":110,"y":160,"wires":[["6306b2d4.3d9eec","f011ba99.f5b888","56c6b572.cbf87c","4ea58262.30eb7c"]]},{"id":"88dfa718.f3e898","type":"mqtt in","z":"547f8147.a94e7","name":"이산화탄소","topic":"co2","qos":"2","datatype":"auto","broker":"79ba8f0.2eb627","x":80,"y":960,"wires":[["d561f4c3.ad77c8","1eac8976.221967","d31d4091.0edcf","d02362e2.a3571"]]},{"id":"e005f93b.d00a68","type":"mqtt in","z":"547f8147.a94e7","name":"토양수분도","topic":"soil-moisture","qos":"2","datatype":"auto","broker":"79ba8f0.2eb627","x":100,"y":340,"wires":[["e1b0e627.9f9658","8d5d8381.f9878"]]},{"id":"b1216a2f.0e8a88","type":"mqtt in","z":"547f8147.a94e7","name":"조도","topic":"lux","qos":"2","datatype":"auto","broker":"79ba8f0.2eb627","x":90,"y":580,"wires":[["a69d3afb.f1c008","f8690e27.8689b","b3557a16.b502f8","a2bc17c7.273a48"]]},{"id":"6306b2d4.3d9eec","type":"debug","z":"547f8147.a94e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":140,"wires":[]},{"id":"f98761c8.592d","type":"mosca in","z":"547f8147.a94e7","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":80,"wires":[[]]},{"id":"56c6b572.cbf87c","type":"ui_template","z":"547f8147.a94e7","group":"b0e923b6.b97d6","name":"Temp","order":1,"width":"4","height":5,"format":"<style>\n    h1{\n        font-size:30px;\n    }\n    \n    .m-t-br{\n        border-radius: 30px 30px;\n    }\n    \n    .f-s{\n        font-size: 40px;\n        font-family: bold;\n    }\n    \n    .Box{\n        border: solid 2px #FFFFFF;\n        width: 200px;\n        height: 250px;\n    }\n    \n    .t-a{\n        text-align:center;\n    }\n    \n    .Boxmg{\n        margin-top: 45px;  \n    }\n    \n    .green{\n     background-color:#22AA4D;    \n    }\n    \n</style>\n\n<html>\n    <head>\n    </head>\n    <body class = \"m-0-a\">\n        <div class=\"Box\">\n        <h1 class=\"t-a\">온도</h1>\n        <div class = \"f-s t-a Boxmg\" ng-bind-html=\"msg.payload\"></div>\n        </div>\n    </body>\n</html>\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":180,"wires":[[]]},{"id":"8d5d8381.f9878","type":"ui_template","z":"547f8147.a94e7","group":"2e9a81b0.54a67e","name":"Moisture","order":1,"width":"4","height":5,"format":"<style>\n    .m-0-a{\n        margin: 0 auto;\n    }\n    \n    .f-s{\n        font-size: 50px;\n        font-family: bold;\n    }\n    \n    .Box{\n        border: solid 2px #FFFFFF;\n        width: 200px;\n        height: 250px;\n    }\n    \n    .t-a{\n        text-align:center;\n    }\n    \n    .Boxmg{\n        margin-top: 45px;  \n    }\n    \n    .green{\n     background-color:#22AA4D;    \n    }\n    \n</style>\n\n<html>\n    <head>\n    </head>\n    <body class = \"m-0-a\">\n        <div class=\"Box\">\n        <h1 class=\"t-a\">토양수분도</h1>\n        <div class = \"f-s t-a Boxmg\" ng-bind-html=\"msg.payload\"></div>\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":380,"wires":[[]]},{"id":"e1b0e627.9f9658","type":"debug","z":"547f8147.a94e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":340,"wires":[]},{"id":"bf4c35f0.a8a178","type":"mqtt in","z":"547f8147.a94e7","name":"습도","topic":"humidity","qos":"2","datatype":"auto","broker":"79ba8f0.2eb627","x":510,"y":160,"wires":[["524419ef.d9b0b8","f07b4460.aa9b48","6b7c4abf.c46b64","4bb66574.944d5c"]]},{"id":"524419ef.d9b0b8","type":"debug","z":"547f8147.a94e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"d561f4c3.ad77c8","type":"debug","z":"547f8147.a94e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":960,"wires":[]},{"id":"1eac8976.221967","type":"ui_template","z":"547f8147.a94e7","group":"75cd1499.1433dc","name":"Co2","order":1,"width":"4","height":5,"format":"<style>\n    .m-0-a{\n        margin: 0 auto;\n    }\n    \n    .f-s{\n        font-size: 50px;\n        font-family: bold;\n    }\n    \n    .Box{\n        border: solid 2px #FFFFFF;\n        width: 200px;\n        height: 250px;\n    }\n    \n    .t-a{\n        text-align:center;\n    }\n    \n    .Boxmg{\n        margin-top: 45px;  \n    }\n    \n    .green{\n     background-color:#22AA4D;    \n    }\n    \n</style>\n\n<html>\n    <head>\n    </head>\n    <body class = \"m-0-a\">\n        <div class=\"Box\">\n        <h1 class=\"t-a\">이산화탄소</h1>\n        <div class = \"f-s t-a Boxmg\" ng-bind-html=\"msg.payload\"></div>\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":1000,"wires":[[]]},{"id":"f8690e27.8689b","type":"ui_template","z":"547f8147.a94e7","group":"9837525.48b59b","name":"Lux","order":1,"width":"4","height":5,"format":"<style>\n    .m-0-a{\n        margin: 0 auto;\n    }\n    \n    .f-s{\n        font-size: 50px;\n        font-family: bold;\n    }\n    \n    .Box{\n        border: solid 2px #FFFFFF;\n        width: 200px;\n        height: 250px;\n    }\n    \n    .t-a{\n        text-align:center;\n    }\n    \n    .Boxmg{\n        margin-top: 45px;  \n    }\n    \n    .green{\n     background-color:#22AA4D;    \n    }\n    \n</style>\n\n<html>\n    <head>\n    </head>\n    <body class = \"m-0-a\">\n        <div class=\"Box\">\n        <h1 class=\"t-a\">조도</h1>\n        <div class = \"f-s t-a Boxmg\" ng-bind-html=\"msg.payload\"></div>\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":290,"y":620,"wires":[[]]},{"id":"a69d3afb.f1c008","type":"debug","z":"547f8147.a94e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":580,"wires":[]},{"id":"f07b4460.aa9b48","type":"ui_template","z":"547f8147.a94e7","group":"5899b198.240ca","name":"Humi","order":1,"width":"4","height":5,"format":"<style>\n    .m-0-a{\n        margin: 0 auto;\n    }\n    \n    .f-s{\n        font-size: 50px;\n        font-family: bold;\n    }\n    \n    .Box{\n        border: solid 2px #FFFFFF;\n        width: 200px;\n        height: 250px;\n    }\n    \n    .t-a{\n        text-align:center;\n    }\n    \n    .Boxmg{\n        margin-top: 45px;  \n    }\n    \n    .green{\n     background-color:#22AA4D;    \n    }\n    \n</style>\n\n<html>\n    <head>\n    </head>\n    <body class = \"m-0-a\">\n        <div class=\"Box\">\n        <h1 class=\"t-a\">습도</h1>\n        <div class = \"f-s t-a Boxmg\" ng-bind-html=\"msg.payload\"></div>\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":140,"wires":[[]]},{"id":"dcb741e6.2bbf7","type":"ui_chart","z":"547f8147.a94e7","name":"","group":"2e9a81b0.54a67e","order":3,"width":"8","height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4199d8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#9a4242","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":310,"y":500,"wires":[[]]},{"id":"894ee5d2.c78088","type":"mqtt in","z":"547f8147.a94e7","name":"","topic":"soil-Temp","qos":"2","datatype":"auto","broker":"79ba8f0.2eb627","x":500,"y":580,"wires":[["78947289.c2d60c","7120a4a0.93665c","dec5177d.3b76c8","cee6e9fa.2aa5a8"]]},{"id":"78947289.c2d60c","type":"debug","z":"547f8147.a94e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":580,"wires":[]},{"id":"7120a4a0.93665c","type":"ui_template","z":"547f8147.a94e7","group":"b43481b2.4c97b","name":"st","order":1,"width":"4","height":5,"format":"<style>\n    .m-0-a{\n        margin: 0 auto;\n    }\n    \n    .f-s{\n        font-size: 50px;\n        font-family: bold;\n    }\n    \n    .Box{\n        border: solid 2px #FFFFFF;\n        width: 200px;\n        height: 250px;\n    }\n    \n    .t-a{\n        text-align:center;\n    }\n    \n    .Boxmg{\n        margin-top: 45px;  \n    }\n    \n    .green{\n     background-color:#22AA4D;    \n    }\n    \n</style>\n\n<html>\n    <head>\n    </head>\n    <body class = \"m-0-a\">\n        <div class=\"Box\">\n        <h1 class=\"t-a\">토양온도</h1>\n        <div class = \"f-s t-a Boxmg\" ng-bind-html=\"msg.payload\"></div>\n    </body>\n    </div>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":620,"wires":[[]]},{"id":"6b7c4abf.c46b64","type":"ui_chart","z":"547f8147.a94e7","name":"","group":"5899b198.240ca","order":3,"width":"8","height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4199d8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#9a4242","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":180,"wires":[[]]},{"id":"d31d4091.0edcf","type":"ui_chart","z":"547f8147.a94e7","name":"","group":"75cd1499.1433dc","order":3,"width":"8","height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4199d8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#9a4242","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":310,"y":1040,"wires":[[]]},{"id":"b3557a16.b502f8","type":"ui_chart","z":"547f8147.a94e7","name":"","group":"9837525.48b59b","order":3,"width":"8","height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4199d8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#9a4242","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":660,"wires":[[]]},{"id":"dec5177d.3b76c8","type":"ui_chart","z":"547f8147.a94e7","name":"","group":"b43481b2.4c97b","order":3,"width":"8","height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4199d8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#9a4242","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":660,"wires":[[]]},{"id":"f011ba99.f5b888","type":"ui_chart","z":"547f8147.a94e7","name":"","group":"b0e923b6.b97d6","order":3,"width":"8","height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4199d8","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#9a4242","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":310,"y":220,"wires":[[]],"info":"<style>\n\n.color2{\n    background-color:#000000;\n}\n\n</style>\n\n<body class=\"color2\">\ndasdasdadqw\n</body>"},{"id":"9b3f3760.5f6d28","type":"mqtt in","z":"547f8147.a94e7","name":"토양수분도num","topic":"soil-moisturenum","qos":"2","datatype":"auto","broker":"79ba8f0.2eb627","x":120,"y":500,"wires":[["dcb741e6.2bbf7","80f37e36.a63e9"]]},{"id":"39a69596.ca57ca","type":"function","z":"72c4d248.f295bc","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.state = false;\n","finalize":"","x":190,"y":320,"wires":[["fb363a7e.ae6198"],["86821a88.9f2608"]]},{"id":"fb363a7e.ae6198","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"cold:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":80,"wires":[["5c3e00a6.b1faf","89bb01e8.9484c"]]},{"id":"86821a88.9f2608","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"cold:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":160,"wires":[["5c3e00a6.b1faf","89bb01e8.9484c"]]},{"id":"89bb01e8.9484c","type":"mqtt out","z":"72c4d248.f295bc","name":"","topic":"controlhandy","qos":"0","retain":"","broker":"79ba8f0.2eb627","x":550,"y":100,"wires":[]},{"id":"5c3e00a6.b1faf","type":"ui_button","z":"72c4d248.f295bc","name":"","group":"19331b94.73fd14","order":1,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":180,"wires":[["39a69596.ca57ca"]]},{"id":"46988da3.e60754","type":"function","z":"72c4d248.f295bc","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.state = false;\n","finalize":"","x":210,"y":640,"wires":[["19abbb96.0cfac4"],["5551d815.703198"]]},{"id":"19abbb96.0cfac4","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"hot:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":400,"wires":[["b0c73321.0e12f","75c99672.f1dd98"]]},{"id":"5551d815.703198","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"hot:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":480,"wires":[["b0c73321.0e12f","75c99672.f1dd98"]]},{"id":"75c99672.f1dd98","type":"mqtt out","z":"72c4d248.f295bc","name":"","topic":"controlhandy","qos":"0","retain":"","broker":"79ba8f0.2eb627","x":570,"y":420,"wires":[]},{"id":"b0c73321.0e12f","type":"ui_button","z":"72c4d248.f295bc","name":"","group":"63115da1.4ab0b4","order":3,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"","payloadType":"str","topic":"","x":550,"y":500,"wires":[["46988da3.e60754"]]},{"id":"7cf0e174.7f5c3","type":"function","z":"72c4d248.f295bc","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.state = false;\n","finalize":"","x":230,"y":960,"wires":[["cad1f60e.01b2b8"],["14b00146.0dea2f"]]},{"id":"cad1f60e.01b2b8","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"air:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":720,"wires":[["f4c48855.555bc8","d4c662ea.5053a"]]},{"id":"14b00146.0dea2f","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"air:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":800,"wires":[["f4c48855.555bc8","d4c662ea.5053a"]]},{"id":"f4c48855.555bc8","type":"mqtt out","z":"72c4d248.f295bc","name":"","topic":"controlhandy","qos":"0","retain":"","broker":"79ba8f0.2eb627","x":590,"y":740,"wires":[]},{"id":"d4c662ea.5053a","type":"ui_button","z":"72c4d248.f295bc","name":"","group":"9cb21ca2.1354d","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"","payloadType":"str","topic":"","x":570,"y":820,"wires":[["7cf0e174.7f5c3"]]},{"id":"134f81d4.1ed2be","type":"function","z":"72c4d248.f295bc","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.state = false;\n","finalize":"","x":230,"y":1280,"wires":[["d6979833.130678"],["c6cf1806.67f758"]]},{"id":"d6979833.130678","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"sm:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1040,"wires":[["bb8e0d57.f17ce","990d7bc8.ff92a8"]]},{"id":"c6cf1806.67f758","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"sm:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1120,"wires":[["bb8e0d57.f17ce","990d7bc8.ff92a8"]]},{"id":"bb8e0d57.f17ce","type":"mqtt out","z":"72c4d248.f295bc","name":"","topic":"controlhandy","qos":"0","retain":"","broker":"79ba8f0.2eb627","x":590,"y":1060,"wires":[]},{"id":"990d7bc8.ff92a8","type":"ui_button","z":"72c4d248.f295bc","name":"","group":"90b12843.1c8068","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"","payloadType":"str","topic":"","x":570,"y":1140,"wires":[["134f81d4.1ed2be"]]},{"id":"ce3123d9.96572","type":"function","z":"72c4d248.f295bc","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.state = false;\n","finalize":"","x":250,"y":1600,"wires":[["26df6ce4.9f5f44"],["bad8dca4.b2f6e"]]},{"id":"26df6ce4.9f5f44","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"humi:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1360,"wires":[["609b47f9.d8d7d8","3f6059cb.07fef6"]]},{"id":"bad8dca4.b2f6e","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"humi:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1440,"wires":[["609b47f9.d8d7d8","3f6059cb.07fef6"]]},{"id":"609b47f9.d8d7d8","type":"mqtt out","z":"72c4d248.f295bc","name":"","topic":"controlhandy","qos":"0","retain":"","broker":"79ba8f0.2eb627","x":610,"y":1380,"wires":[]},{"id":"3f6059cb.07fef6","type":"ui_button","z":"72c4d248.f295bc","name":"","group":"d067f5c3.f04ce8","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"","payloadType":"str","topic":"","x":590,"y":1460,"wires":[["ce3123d9.96572"]]},{"id":"c075976c.92bd18","type":"function","z":"72c4d248.f295bc","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.state = false;\n","finalize":"","x":890,"y":320,"wires":[["c9ff70da.eec4d"],["2738e65e.3cd14a"]]},{"id":"c9ff70da.eec4d","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"수동","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":80,"wires":[["430f8271.74625c","5c6ce165.f9943"]]},{"id":"2738e65e.3cd14a","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"자동","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":160,"wires":[["430f8271.74625c","5c6ce165.f9943"]]},{"id":"5c6ce165.f9943","type":"mqtt out","z":"72c4d248.f295bc","name":"","topic":"controlhandy","qos":"0","retain":"","broker":"79ba8f0.2eb627","x":1250,"y":100,"wires":[]},{"id":"430f8271.74625c","type":"ui_button","z":"72c4d248.f295bc","name":"","group":"ee7f4e7c.f606c","order":1,"width":"0","height":"0","passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"","payloadType":"str","topic":"","x":1230,"y":180,"wires":[["c075976c.92bd18"]]},{"id":"30b8c8a.3261938","type":"function","z":"72c4d248.f295bc","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.state = false;\n","finalize":"","x":250,"y":1940,"wires":[["5d6b92a4.50a8ec"],["2045fcfd.2b55e4"]]},{"id":"5d6b92a4.50a8ec","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"led:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1700,"wires":[["109358dc.697cd7","653180ac.69484"]]},{"id":"2045fcfd.2b55e4","type":"change","z":"72c4d248.f295bc","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"led:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1780,"wires":[["109358dc.697cd7","653180ac.69484"]]},{"id":"109358dc.697cd7","type":"mqtt out","z":"72c4d248.f295bc","name":"","topic":"controlhandy","qos":"0","retain":"","broker":"79ba8f0.2eb627","x":610,"y":1720,"wires":[]},{"id":"653180ac.69484","type":"ui_button","z":"72c4d248.f295bc","name":"","group":"76f5e944.ebb1e8","order":2,"width":0,"height":0,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"","payloadType":"str","topic":"","x":590,"y":1800,"wires":[["30b8c8a.3261938"]]},{"id":"4ea58262.30eb7c","type":"ui_gauge","z":"547f8147.a94e7","name":"","group":"b0e923b6.b97d6","order":2,"width":"5","height":"5","gtype":"gage","title":"온도","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":260,"wires":[]},{"id":"80f37e36.a63e9","type":"ui_gauge","z":"547f8147.a94e7","name":"","group":"2e9a81b0.54a67e","order":2,"width":"5","height":"5","gtype":"gage","title":"토양수분도","label":"units","format":"{{value}}","min":"1600","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":420,"wires":[]},{"id":"a2bc17c7.273a48","type":"ui_gauge","z":"547f8147.a94e7","name":"","group":"9837525.48b59b","order":2,"width":"5","height":"5","gtype":"gage","title":"조도","label":"units","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":700,"wires":[]},{"id":"4bb66574.944d5c","type":"ui_gauge","z":"547f8147.a94e7","name":"","group":"5899b198.240ca","order":2,"width":"5","height":"5","gtype":"gage","title":"습도","label":"units","format":"{{value}}","min":"20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":220,"wires":[]},{"id":"d02362e2.a3571","type":"ui_gauge","z":"547f8147.a94e7","name":"","group":"75cd1499.1433dc","order":2,"width":"5","height":"5","gtype":"gage","title":"이산화탄소","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":1080,"wires":[]},{"id":"cee6e9fa.2aa5a8","type":"ui_gauge","z":"547f8147.a94e7","name":"","group":"b43481b2.4c97b","order":2,"width":"5","height":"5","gtype":"gage","title":"토양온도","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":700,"wires":[]}]